
<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <!--
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapses-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand" href="{{ site.baseurl }}/" id="blog-title-left-top">S</a>
        </div>   
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#portfolioModal2" data-toggle="modal"><i class="fa fa-random" id="icon-top"></i></a>
                <ul class="dropdown-menu"></ul>
            </li>
            <li><a href="{{site.weibo_username}}" target="_blank"><i class="fa fa-weibo" id="icon-top"></i></a></li>

            <li><a href="{{site.baseurl}}/about" target="_blank">About</a></li>
            <li><a href="{{site.baseurl}}/archive/">Archive</a></li>
            <li><a href="https://www.github.com/superstar4" id="roundbutton" target="_blank"><i class="fa fa-github"></i>stillwater</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right:0px; overflow: hidden;">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h1 class="font-style-inline-small-h1">stillwater</h1>
                        <hr class="star-primary">
                        <img src="{{ site.baseurl }}/img/photo.jpg" class="img-responsive img-centered" alt="Lucas Gatsas lucas gatsas" title="lucas gatsas Lucas Gatsas">
                        <p class="font-style-inline-small">
                            {{site.description}} <br>
                            <a href="https://www.github.com/superstar4" target="_blank">    <i class="fa fa-github" id="spaceg-social-modal"></i> </a> 
                            <a class="follow" href="{{site.google_username}}" target="_blank"><i class="fa fa-google-plus"></i></a>

                            <a class="follow" href="{{site.facebook_username}}" target="_blank"><i class="fa fa-facebook"></i></a>

                            <a class="follow" href="{{site.weibo_username}}" target="_blank"><i class="fa fa-weibo"></i></a> 
                        </p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu Modals Add New Sa.21.Feb.2015 03:22:25 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right:0px; overflow: hidden;">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h1 class="font-style-inline-small-h1">{{site.title}}</h1>
                        <hr class="star-primary">
                        <!--     <img src="https://pbs.twimg.com/profile_images/598639420363923456/zLAW5YPs_400x400.jpg" class="img-responsive img-centered" alt=""> -->
                        <p class="font-style-inline-small">
                           <a href="https://www.github.com/superstar4" target="_blank">    <i class="fa fa-github" id="spaceg-social-modal"></i> </a> 
                            <a class="follow" href="{{site.google_username}}" target="_blank"><i class="fa fa-google-plus"></i></a>

                            <a class="follow" href="{{site.facebook_username}}" target="_blank"><i class="fa fa-facebook"></i></a>

                            <a class="follow" href="{{site.weibo_username}}" target="_blank"><i class="fa fa-weibo"></i></a> 
                        
                             <br>
                            <li><a href="{{ site.baseurl }}/">Home</a></li>
                            <li><a href="{{ site.baseurl }}/about">About Me</a></li>
                            <li><a href="{{ site.baseurl }}/archive/">Archive</a></li>
                        </p>

                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

