<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>508523118</real>
		<key>sheetClusters</key>
		<dict>
			<key>2013-08-26-JS变量初始化过程.md</key>
			<dict>
				<key>lastModification</key>
				<real>508610750.43364</real>
				<key>version</key>
				<dict>
					<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2013-10-26-PNG-Loading.md</key>
			<dict>
				<key>lastModification</key>
				<real>508611156.061598</real>
				<key>version</key>
				<dict>
					<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>2014-08-26-LinkedHashMap.md</key>
			<dict>
				<key>lastModification</key>
				<real>508610750.43364</real>
				<key>version</key>
				<dict>
					<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2015-06-09-jar包冲突.md</key>
			<dict>
				<key>lastModification</key>
				<real>508612286.11219698</real>
				<key>version</key>
				<dict>
					<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2015-06-27-github搭建个人博客.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>508523118</real>
				<key>version</key>
				<dict>
					<key>legacy-508523118.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-06-28-利用sublime快速编写markdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>508523118</real>
				<key>version</key>
				<dict>
					<key>legacy-508523118.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-06-29-(译)bigtable 浅析.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>508609300.46051198</real>
				<key>lastModification</key>
				<real>508609300.46051198</real>
				<key>version</key>
				<dict>
					<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-06-29-(译)bigtable浅析.md</key>
			<dict>
				<key>lastModification</key>
				<real>508523118</real>
				<key>version</key>
				<dict>
					<key>legacy-508523118.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-06-29-preview to Jekyll without plugins.md</key>
			<dict>
				<key>lastModification</key>
				<real>508523118</real>
				<key>version</key>
				<dict>
					<key>legacy-508523118.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-11-悲观锁乐观锁.md</key>
			<dict>
				<key>lastModification</key>
				<real>508523118</real>
				<key>version</key>
				<dict>
					<key>legacy-508523118.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-08-15-海量数据相似度计算之simhash和海明距离.md</key>
			<dict>
				<key>lastModification</key>
				<real>508611100.02974898</real>
				<key>version</key>
				<dict>
					<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>2015-10-18-为什么新生代有两个survivor.md</key>
			<dict>
				<key>lastModification</key>
				<real>508610822.34361702</real>
				<key>version</key>
				<dict>
					<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2016-10-12-AWK命令.md</key>
			<dict>
				<key>lastModification</key>
				<real>508610750.43364102</real>
				<key>version</key>
				<dict>
					<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2016-11-10-Velocity源码阅读.md</key>
			<dict>
				<key>lastModification</key>
				<real>508610750.43363899</real>
				<key>version</key>
				<dict>
					<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-08-15-海量数据相似度计算之simhash和海明距离.md</string>
		</array>
		<array>
			<string>2015-06-09-jar包冲突.md</string>
		</array>
		<array>
			<string>2015-10-18-为什么新生代有两个survivor.md</string>
		</array>
		<array>
			<string>2013-10-26-PNG-Loading.md</string>
		</array>
		<array>
			<string>2015-06-27-github搭建个人博客.markdown</string>
		</array>
		<array>
			<string>2015-06-29-(译)bigtable 浅析.md</string>
		</array>
		<array>
			<string>2015-06-28-利用sublime快速编写markdown.md</string>
		</array>
		<array>
			<string>2015-06-29-(译)bigtable浅析.md</string>
		</array>
		<array>
			<string>2015-06-29-preview to Jekyll without plugins.md</string>
		</array>
		<array>
			<string>2015-07-11-悲观锁乐观锁.md</string>
		</array>
		<array>
			<string>2016-11-10-Velocity源码阅读.md</string>
		</array>
		<array>
			<string>2014-08-26-LinkedHashMap.md</string>
		</array>
		<array>
			<string>2013-08-26-JS变量初始化过程.md</string>
		</array>
		<array>
			<string>2016-10-12-AWK命令.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>54118c1604aff02407daa57d30d21427fe8dc820e5d2f4b17d53b9a2637b44c6</key>
			<integer>24</integer>
		</dict>
	</dict>
</dict>
</plist>
